
<%= form_for(@ticket) do |f| %>
    <% if @ticket.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>
          <ul>
            <% @ticket.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="box-body">
      <div class="form-group">
        <%= f.label :issue %><br>
        <%= f.text_field :issue  , :class => 'form-control'%>
      </div>

      <div class="form-group">
        <%= f.label :description %><br>
        <%= f.text_field :description  , :class => 'form-control'%>
      </div>

      <% if current_user.admin? %>
        <div class="form-group">
          <%= f.label :priority %><br>
          <%= f.select :priority, ['Low', 'Medium', 'High'] , { :include_blank => "Choose a Priority" }, :class => "chosen-select"%>
        </div>
      <%end  %>
    </div><!-- /.box-body -->

    <div class="box-footer">
      <%= f.submit "Save", :class => "btn btn-primary" %>
      <%= link_to 'Back', tickets_path ,:class =>"btn bg-green margin"%>
    </div>
<% end %>



