

<%= form_for(@ticket, url: review_update_ticket_url) do |f| %>
    <% if @ticket.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-warning alert-dismissable">
            <h2><%= error_count(@ticket.errors.count) %> :</h2>
            <i class="fa fa-warning"></i>
            <ul>
              <% @ticket.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="box-body">
      <div class="form-group">
        <%= f.label :priority %><br>
        <%= f.select :priority, ['Low', 'Medium', 'High'] , { :include_blank => "Choose a Priority" }, :class => "chosen-select"%>
      </div>

      <div class="form-group">
        ID:
        <%= f.text_field :id , :class => 'form-control', :readonly => true, :disabled => true %>
      </div>
      <div class="form-group">
        Issue:
        <%= f.text_field :issue , :class => 'form-control', :readonly => true, :disabled => true %>
      </div>
      <div class="form-group">
        Description:
        <%= f.text_field :description , :class => 'form-control', :readonly => true, :disabled => true %>
      </div>
    </div><!-- /.box-body -->

    <div class="box-footer">
      <%= f.submit "Save", :class => 'btn btn-success' %>
      <%= link_to 'Back', tickets_path , :class => 'btn btn-default' %>
    </div>
<% end %>


