<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Tickets
  </h1>
  <ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Tickets</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Tickets List</h3>
          <div class="box-tools">
            <%= link_to 'New Ticket', new_ticket_path ,:class =>"btn btn-success btn-sm"%>
          </div>
        </div><!-- /.box-header -->
        <div class="box-body table-responsive" style="overflow-x: inherit">
          <table id="table" class="datatable table table-condensed table-bordered table-hover table-responsive no-wrap">
            <thead>
            <tr>
              <th>ID</th>
              <th>Issue</th>
              <th>Description</th>
              <th>Priority</th>
              <th>User</th>
              <th>Actions</th>
            </tr>
            </thead>

            <tbody>
            <% @tickets.each do |ticket| %>
                <tr>
                  <td><%= ticket.id %></td>
                  <td><%= ticket.issue %></td>
                  <td><%= ticket.description %></td>
                  <td><% if ticket.priority=="High"%>
                        <span class="label label-danger">High</span>
                    <% elsif  ticket.priority=="Medium"%>
                        <span class="label label-warning">Medium</span>

                    <% elsif  ticket.priority=="Low"%>
                        <span class="label label-success">Low</span>
                    <% else %>
                        <span class="label label-info">no priority assigned</span>
                    <% end %>
                  </td>
                  <% user = User.find(ticket.user_id) %>
                  <td><%= user.name + " " + user.lastname %></td>

                  <td style="width: 200px">
                    <div class="btn-group btn-group-xs">
                      <%= link_to 'Show', ticket ,  :class =>"btn btn-primary  btn-xs"%>
                      <%= link_to 'Edit', edit_ticket_path(ticket),:class =>"btn btn-warning  btn-xs" %>

                      <% if current_user.admin? %>
                        <%= link_to 'Review', review_ticket_url(ticket), :class => "btn btn-success  btn-xs"%>
                      <% end %>
                      <%= link_to 'Delete', ticket, method: :delete, data: { confirm: 'are you sure?' },:class =>"btn btn-danger btn-xs" %>
                    </div>
                  </td>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->
  </div><!-- /.row -->
</section><!-- /.content -->